<header>
	<h1>
        <a routerLink="/" routerLinkActive="active">
            &nbsp;
            <span class="glyphicon glyphicon-user"></span>
			Patient<span class="text-info">Viewer</span>
            <!-- <small>
                <b>&nbsp;&nbsp;&nbsp;/clinical_flows/</b>
            </small> -->
        </a>
        <!-- <small>
            <span class="tagline">&nbsp; Better Clinical Transactions -->
                <a id="api_page_link"  class="btn btn-small btn-default" routerLink="/api" routerLinkActive="active"><span class="glyphicon glyphicon-transfer"></span> API</a>
            <!-- </span>
        </small> -->
    </h1>
</header>

<router-outlet>
</router-outlet>

<footer class="footer">
	<br>
	<p class="text-center">
		<span class="text-default">
            <span class="glyphicon glyphicon-heart"></span> Designed with love for desktop and tablet browsers.
		</span>
		<br>
		<small>
            <span><a routerLink="/api" routerLinkActive="active"><span class="glyphicon glyphicon-transfer"></span> API Usage</a></span> |
            <span><a href="https://github.com/preston/healthcreek/issues"><span class="glyphicon glyphicon-flash"></span> Bug Reports &amp; Feature Requests</a></span> |
            <span>&copy; 2016 Preston Lee</span>
        </small>
	</p>
</footer>
