<section>
	<h2>Observations</h2>
	<p class="text-default" *ngIf="observations.length == 0">
		<i>(none)</i>
	</p>
	<table *ngIf="observations.length > 0" class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Category</th>
				<th>Code</th>
				<th>Value</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let o of observations">
				<td>{{o.effectiveDateTime | amTimeAgo}}</td>
				<td>
					<span>{{o.category['text']}}</span>
				</td>
				<td>
					<span>{{o.code['text']}}</span>
				</td>
				<td>
					<span *ngIf="o.valueQuantity">{{o.valueQuantity['value']}} {{o.valueQuantity['unit']}}</span>
					<span *ngIf="o.valueCodeableConcept">{{o.valueCodeableConcept['text']}}</span>
				</td>
				<td>{{o.status}}
				</td>
			</tr>
		</tbody>
	</table>
</section>
