<footer class="footer"><br />
    <p class="text-center">
        <span class="text-default">
            <span class="glyphicon glyphicon-heart"></span> Designed with love for desktop and tablet browsers.</span>
        <br />
        <small>
            <span>
                <a routerlink="/api" routerlinkactive="active">
                    <span class="glyphicon glyphicon-transfer"></span> API Usage
                </a></span>
            |<span>
                <a href="https://github.com/preston/angular-on-fhir"><span class="glyphicon glyphicon-flash"></span>
                    Bug Reports &amp; Feature Requests</a></span> |<span>© 2016 Preston Lee</span>
        </small>
    </p>
</footer>