section(*ngIf='patient')
  h2.pull-right
    // <span class="glyphicon glyphicon-ok-circle"></span>
    | Activities
  table.table.table-condensed.table-striped
    thead
      tr
        th
          | What goeth here, say ye?
    tbody
      tr(*ngFor='let a of activities')
        td
          | Something
