section(*ngIf='patient')
  h2
    // <span class="glyphicon glyphicon-eye-open"></span>
    | Observations
  p.text-default(*ngIf='observations.length == 0')
    i (none)
  table.table.table-condensed.table-striped(*ngIf='observations.length > 0')
    thead
      tr
        th Date
        th Category
        th Code
        th Value
        th Status
    tbody
      tr(*ngFor='let o of observations')
        td {{o?.effectiveDateTime | amTimeAgo}}
        td
          span {{o?.category?.text}}
        td
          span {{o?.code?.text}}
        td
          span {{o.valueQuantity?.value}} {{o.valueQuantity?.unit}}
          span {{o.valueCodeableConcept?.text}}
        td
          | {{o.status}}
