div
  aside#sidebar.col-sm-3(*ngIf='patients')
    section
      h2
      form
        .form-group
          label
            span.glyphicon.glyphicon-fire
            |  Provider
          select#server_select.form-control((change)='selectServerForUrl($event.target.value)')
            option(*ngFor='let s of servers', [value]='s.url', [selected]='server && (s.url == server.url)') {{s.name}}
        .form-group
          label
            span.glyphicon.glyphicon-user
            |  Patient
          select#patient_select.form-control((change)='select($event.target.value)')
            option(*ngFor='let p of patients', [value]='p.id', [selected]='patient && (p.id == patient.id)')
              span(*ngIf='p.name && p.name[0].given') {{p.name[0].given[0]}}
              span(*ngIf='p.name && p.name[0].family') {{p.name[0].family[0]}}
          p.text-right.text-sm(*ngIf='selected')
            small
              | ..a 
              b
                | {{-1 * (selected.birthDate | amDifference:today:'years':false)}}-year-old {{selected.gender}}
              |  born {{selected.birthDate | amDateFormat:'LL'}}.
      // Nav tabs
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#conditions', aria-controls='conditions', role='tab', data-toggle='tab')
            span.glyphicon.glyphicon-alert
            |  Conditions
        li(role='presentation')
          a(href='#identity', aria-controls='identity', role='tab', data-toggle='tab')
            span.glyphicon.glyphicon-credit-card
            |  Identity
      // Tab panes
      .tab-content
        #conditions.tab-pane.active(role='tabpanel')
          conditions([patient]='selected')
        #identity.tab-pane(role='tabpanel')
          section(*ngIf='selected')
            h4 ID
            .identifier(*ngFor='let id of selected.identifier')
              b(*ngIf="id['type'] && id['type']['coding']") {{id['type']['coding'][0]['display']}}
              i ({{id['value']}})
              br
              small {{id['system']}} {{id['use']}}
          section(*ngIf='selected')
            h4 Addresses
            address.address(*ngFor='let a of selected.address')
              b(*ngIf="a['line']") {{a['line'][0]}}
              i ({{a['use']}})
              br
              small {{a['city']}}, {{a['country']}}, {{a['postalCode']}}
  observations.col-sm-6([patient]='selected')
  activities.col-sm-3([patient]='selected')
