footer.footer
  br
  p.text-center
    span.text-default
      span.glyphicon.glyphicon-heart
      |  Designed with love for desktop and tablet browsers.
    br
    small
      span
        a(routerlink='/api', routerlinkactive='active')
          span.glyphicon.glyphicon-transfer
          |  API Usage
      |  |
      span
        a(href='https://github.com/preston/angular-on-fhir')
          span.glyphicon.glyphicon-flash
          |  Bug Reports &amp; Feature Requests
      |  |
      span © 2016 Preston Lee
